//-----FONT-SIZE

$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;

//------FONT-WEIGHTS

$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
